
<div class="jumbotron" >
	<h1>About Us</h1>

	<P>We are currently learning to code in Ruby through the online One Month Rails. Thus far we have developed a core application page and a descriptor about us page</P>
</div>